.container{
  align-items: center;
  justify-content: center;
}

.sidebaredit {
  display: block;
  background-image: url("https://www.huysmanyacht.com/site/assets/files/1224/hero-zeilblogs.1200x630.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  opacity: 0.5;
  width: 500px;
  text-align: center;
}
