<%# <% if user_signed_in? %>
  <%# <h1>Hello <%=current_user.username</h1> %>
<%# <% else %> %> %>
  <%# <h1>Please sign in</h1> %>
  <%# <%= f.input :opening_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
<%# <% end %> %> %> %>
